<nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav" style="background-color: white;">
    <div class="container"><a class="navbar-brand js-scroll-trigger" href="#page-top"></a><img src="assets/img/logo.png" style="width: 15%;"><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-align-justify"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link js-scroll-trigger active" style="color: black;" href="#about">Home</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#allproducts" style="color: black;">All Products</a></li>
                <li class="nav-item" (click)="cart()"><a class="nav-link js-scroll-trigger" style="color: black;">My Cart</a></li>
            </ul>
        </div>
    </div>
</nav>